/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    background-image: url(../img/texture-light.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding:10px;
}

.float-left {
	float: left;
}

.widgets img {
	float: left;
}

.float-right {
	float: right;
}

h1 {
	font-family: "Boogaloo", sans-serif;
	font-size: 36px;
	color: #116189;
}

h2 {
	color: #116189;
	padding: 10px;
	font-weight: bold;
	font-size: 120%;
}

.motto {
	font-style: italic;
	font-size: 120%;
}

nav {
	background-color: #D74710;
	border-radius: 5px;
	clear: left;
}

nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
}

nav a:hover {
	background-color: #FF9D45;
}

footer {
	clear: right;
	border-top: thin solid gray;
	margin-top: 50px;
}

p {
	padding: 10px;
}

img {
	vertical-align: text-top;
	margin-right: 10px;
	padding: 10px;
}

dl img {
	padding: 0px;
}

.team dt {
	color: #116189;
	font-weight: bold;
}

.team dd {
	margin-bottom: 30px;
}

.widgets dt {
	font-weight: bold;
	font-size: 120%;
}

.price {
	font-style: italic;
	margin-bottom: 32px;
}

.email {
	text-decoration: none;
}

.email:hover{
	text-decoration: underline;
}

.products-bar {
	border-radius: 5px;
	background-color: #FBEAE3;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.content {
	background-color: white;
	width: 80%;
	margin: 0 auto;
	box-shadow: 5px 5px 5px gray;
	padding: 10px;
}
